<ion-header>

  <ion-navbar>
    <ion-title>小说查找</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="novel['title']">
    <!--小说简介-->
    <div class="movie-detail">
      <div>
        <div class="app-bg-block-details">
          <img [src]="novel['cover']"/>
        </div>
        <div class="app-bg-block-details-block">
        </div>
      </div>
      <div class="introduce">
        <div class="app-details-card-img">
          <img [src]="novel['cover']"/>
        </div>
        <ion-card class="app-details-card">
          <ion-card-header>
            {{novel['title']}}
          </ion-card-header>
          <ion-card-content>
            <p class="line-height">{{novel['intro']}}</p>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <div>{{novel['like_times']}} 赞</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon name="thumbs-down-outline"></ion-icon>
                <div>{{novel['dislike_times']}} 踩</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small (click)="fork()">
                <ion-icon name="bookmarks-outline"></ion-icon>
                <div>{{novel['forks']}} 收藏</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
    <!--章节列表-->
    <div>
      <ion-card>
        <ion-card-header (click)="showChapters()">
          预览章节(读全本请收藏)
        </ion-card-header>
        <ion-list>
          <button ion-item class="button-border-top" *ngFor="let item of novel_chapters" navPush="NovelReadPage"
                  [navParams]="item">
            {{item['title']}}
          </button>
        </ion-list>
      </ion-card>
    </div>
  </div>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <div class="row">
      <div col-8>
        <ion-input placeholder="请输入小说名称" clearInput [(ngModel)]="keywords" (keyup.enter)="onSearch()"></ion-input>
      </div>
      <div col-4>
        <button ion-button small block (click)="onSearch()">搜索</button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
