<ion-header *ngIf="show">
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only navPop>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{data['title']}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="help()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #bbad8f">
  <!--上一页-->
  <div padding *ngIf="data['content'] && page=='content'">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block outline color="dark" (click)="getContent(false,true)">上一章</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block outline color="dark" (click)="getContent(true,false)">下一章</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--正文-->
  <div id="NovelContent" *ngIf="page=='content'" (click)="toggleFooter()">
    <p style="padding: 15px;" [ngStyle]="{
    'font-size': style.fontSize+'px',
    'line-height': style.lineHeight+'px'
    }">
      {{data['content']}}
    </p>
  </div>
  <!--下一页-->
  <div padding *ngIf="data['content'] && page=='content'">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block outline color="dark" (click)="getContent(false,true)">上一章</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block outline color="dark" (click)="getContent(true,false)">下一章</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer *ngIf="show">
  <ion-toolbar>
    <ion-buttons start>
      <!--<button ion-button outline>上一章</button>-->
      <button ion-button outline (click)="showChapters()">目录</button>
      <button ion-button outline>设置</button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button outline>
        夜间
      </button>
      <!--<button ion-button outline>下一章</button>-->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
