<ion-header>
  <ion-navbar>
    <ion-title>搜索</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="page">
      <ion-segment-button value="new" (click)="getNew()">
        最新资源
      </ion-segment-button>
      <ion-segment-button value="movie">
        影片
      </ion-segment-button>
      <ion-segment-button value="resource">
        资源
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="app-bg">
  <div *ngIf="page=='new'">
    <movie-resource [resources]="resource_new.items"></movie-resource>
    <!--上拉加载-->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="resource_new.next!=null">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="page=='movie'">
    <ion-card>
      <ion-card-content>
        <p>共 {{movies['count']||0}} 条</p>
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let item of movies.results">
          <movie-card [item]="item" [width]='imgSize.width' [height]='imgSize.height'></movie-card>
        </ion-col>
        <ion-col col-6 id="ion-col-width" *ngIf="imgSize.width==0"></ion-col>
      </ion-row>
    </ion-grid>
    <!--上拉加载-->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="movies.next!=null">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="page=='resource'">
    <ion-card>
      <ion-card-content>
        <p>共 {{resources['count']||0}} 条</p>
      </ion-card-content>
    </ion-card>
    <movie-resource [resources]="resources.results"></movie-resource>
    <!--上拉加载-->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="resources.next!=null">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
<ion-footer no-border *ngIf="page!='new'">
  <ion-toolbar>
    <div class="row">
      <div col-8>
        <ion-input placeholder="搜索关键字" clearInput [(ngModel)]="keywords" (keyup.enter)="onSearch()"></ion-input>
      </div>
      <div col-4>
        <button ion-button small block (click)="onSearch()">搜索</button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
