<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-segment [(ngModel)]="page">
      <ion-segment-button value="new" (click)="getNew()">
        最新资源
      </ion-segment-button>
      <ion-segment-button value="movie">
        影片
      </ion-segment-button>
      <ion-segment-button value="resource">
        搜索
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="primary"
                   (ionInput)="search($event)"
                   debounce="3000"
                   placeholder="输入后3秒执行搜索"
                   [(ngModel)]="keywords">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="app-bg">
  <div *ngIf="page=='new'">
    <div *ngFor="let item of resource_new.items">
      <movie-resource [resource]='item'></movie-resource>
    </div>
  </div>
  <div *ngIf="page=='movie'">
    <ion-card>
      <ion-card-content>
        <p>共 {{movie_list.length}} 条</p>
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let item of movie_list">
          <movie-card [item]="item" [width]='imgSize.width' [height]='imgSize.height'></movie-card>
        </ion-col>
        <ion-col col-6 id="ion-col-width" *ngIf="imgSize.width==0"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="page=='resource'">
    <div padding *ngIf="resource_list.length>0">
      <ion-segment [(ngModel)]="resource_source">
        <ion-segment-button *ngFor="let items of resource_list;let i = index;" [value]="i.toString()">
          来源{{i}}
        </ion-segment-button>
        <ion-segment-button disabled="disabled">
          预留
        </ion-segment-button>
      </ion-segment>
    </div>
    <div *ngIf="resource_list[resource_source]">
      <ion-card>
        <ion-card-content>
          <p>共 {{resource_list[resource_source].length}} 条</p>
        </ion-card-content>
      </ion-card>
      <div *ngFor="let item of resource_list[resource_source]">
        <movie-resource [resource]='item'></movie-resource>
      </div>
    </div>
  </div>
  <!--上拉加载-->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="resource_new.next!=''&&page=='new'">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
