page-movie-search {
  ion-input {
    background-color: #FFF;
    padding-left: 10px;
    border-radius: 5px;
  }
  .button-small-ios {
    height: 3em;
    font-size: 1.3rem;
    padding: 0 0.9em;
    margin: 0;
  }
}
